@keyframes shake {
	0% { transform: translate(1px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(3px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(3px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(1px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg); }
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	font-family: arial, sans-serif;
	margin: 0;
}

header {
	max-width: 40rem;
	margin: auto;
	text-align: center;
}

h1 {
	margin-bottom: .5rem;
}

h2 {
	margin: .5rem;
}

h3,
p {
	margin: .5rem 0;
}

button {
	cursor: pointer;
}

#game {
	display: flex;
	flex-direction: column;
	padding: .5rem;
}

#game .loader {
	display: none;
	margin: .5rem auto;
}

#game.loading .loader {
	display: block;
}

#game.loading #board {
	display: none;
}

#done {
	width: 100%;
	max-width: 18rem;
	padding: 1rem;
	background: #eee;
	margin: .5rem auto;
	border-radius: 2px;
}

#board {
	margin: 1rem auto 16rem;
	display: flex;
	flex-direction: column;
	gap: .5rem;
}

#reset {
	background-color: #f5f5f5;
	border: none;
	color: black;
	padding: .5rem 1rem;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 1rem;
	border: 1px solid #bbb;
	margin: .5rem 0;
}

#reset:hover {
	background-color: #bcff98d1;
}

.row {
	display: flex;
	justify-content: space-between;
	gap: .5rem;
	position: relative;
}

.tile {
	width: 3rem;
	height: 3rem;
	border: 1px solid #ccc;
	padding: 1rem;
	text-align: center;
	border-radius: 2px;
}

.score-41 {
	background: #940000;
	color: white;
}
.score-40 {
	background: #c40000;
	color: white;
}
.score-32 {
	background: #d90808;
	color: white;
}
.score-31 {
	background: #ff3333;
	color: white;
}
.score-30 {
	background: #ff6447;
	color: white;
}
.score-23 {
	background: #ff500f;
	color: white;
}
.score-22 {
	background: #fc6e24;
	color: white;
}
.score-21 {
	background: #ff8400;
}
.score-20 {
	background: #ffa317;
}
.score-14 {
	background: #ffd533;
}
.score-13 {
	background: #ffe859;
}
.score-12 {
	background: #fff6b6;
}
.score-11 {
	background: #f3ffbd;
}
.score-10 {
	background: #bcff98d1;
}
.score-5 {
	background: #c1ffc6;
}
.score-4 {
	background: #c4e9ff;
}
.score-3 {
	background: #d3e1ff;
}
.score-2 {
	background: #e9e3ff;
}
.score-1 {
	background: #fbe4ff;
}
.score-0 {
	background: #ddd;
}
.present {
	color: white;
	background: #d1b437;
}
.correct {
	color: white;
	background: #59a851;
}
.absent {
	color: black;
	background: #ddd;
}

.winner {
	color: white;
	background: #3d0215;
	animation: shake .5s;
}

.winner + .hint {
	font-size: 2rem;
}

.hint {
	position: absolute;
	left: 100%;
	margin: 1rem;
	font-weight: bold;
	white-space: nowrap;
	font-size: .8rem;
	line-height: 1rem;
}

.invalid {
	border: 1px solid #cb0b0b;
}

.keyboard {
	background: #eee;
	padding: .5rem;
	position: fixed;
	bottom: 0;
	width: 100%;
}

.keyboard-row {
	display: flex;
	flex-wrap: nowrap;
	width: 100%;
	justify-content: center;
}

.keyboard button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
    background: #f5f5f5;
    border: 1px solid #bbb;
    border-radius: 2px;
	color: #000;
    font-size: 1rem;
    height: 3rem;
	margin: .125rem;	
	padding: .25rem;
	width: 2.5rem;
	text-align: center;
    touch-action: manipulation;
    user-select: none;
}

.keyboard button[data-key="enter"] {
	width: 3.5rem;
}

.keyboard button > * {
    pointer-events: none;
    touch-action: manipulation;
    user-select: none;
}

.fieldset {
	display: flex;
	justify-content: center;
	gap: .5rem;
	font-size: .8rem;
}

legend {
	display: inline-block;
	border: none;
}

.switch-field {
	display: flex;
	margin-bottom: .5rem;
	overflow: hidden;
	align-items: center;
}
.switch-field input {
	position: absolute;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.switch-field label {
	background-color: #f5f5f5;
	font-size: .8rem;
	line-height: 1;
	text-align: center;
	padding: .5rem 1rem;
	border: 1px solid #bbb;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
	background-color: #bcff98d1;
	box-shadow: none;
}

.switch-field label:first-of-type {
	border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
	border-radius: 0 4px 4px 0;
}

@media screen and (max-width: 480px) {
    .hint {
        margin-inline: .5rem;
    }
    .tile {
        width: 2.5rem;
		padding: 1rem .5rem;
    }
    p {
        font-size: .8rem;
    }
}